@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}

html {
  font-family: "inter", sans-serif;
  font-size: 15px;
}
